*, *::before, *::after{ box-sizing: border-box; }
/* ----------------
common mobile
--------------------- */
*{
    min-width: 0;
    min-height: 0;
}
body{
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: #383838;
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
h2{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: #383838;
    font-size: 25px;
    letter-spacing: 0.75px;
    margin-bottom: 4px;
}
.title{
    text-align: center;
    margin-bottom: 22px;
}
.title p{
    font-size: 10px;
    letter-spacing: 0.9px;
}
.title-comment{
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 76px;
}
a{
    text-decoration: none;
}
.btn{
    width: 195px;
    height: 53px;
    position: relative;
    margin: 0 auto 76px auto;
}
.btn .border{
    width: 190px;
    height: 48px;
    border: 2px solid #575757;
    position: absolute;
    top: 0;
    left: 0;
}
.btn a{
    width: 190px;
    height: 48px;
    background-color: #F8E554;
    padding: 15px;
    color: #383838;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
}
section{
    margin-bottom: 76px;
}
.deco-left{
    width: 320px;
    height: 20px;
    background-color: #B3EFB3;
    margin-bottom: 76px;
}
.deco-right{
    width: 320px;
    height: 20px;
    background-color: #B3EFB3;
    text-align: left;
    margin: 0 0 76px auto;
}
.deco-white{
    background-color: #ffffff;
}
.number{
    color: rgba(0 0 0 / 0);
    -webkit-text-stroke: 1px #707070;
    text-shadow: 3px 3px 0 #ffffff;
}


/* ----------------
animation
--------------------- */

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes bottom-in{
    0%{
        bottom: -30%;
    }
    100%{
        bottom: 0;
    }
}
.bottom-in{
    /* アニメーション */
    animation-name: bottom-in;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-in{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-in-second{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-in-third{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-in-fourth{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-in-fifth{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* ----------------
header
--------------------- */
header{
    width: 100vw;
    padding-top: 30px;
}
header .logo{
    width: 100vw;
    height: 19px;
    padding: 0 0 0 5%;
    margin: 0 0 30px 0;
    display: flex;
    position: relative;
}
header .background{
    width: 40%;
    height: 105vh;
    background-color: #B3EFB3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
header .logo h1{
    width: 75px;
}
header .logo h1 img{
    width: 100%;
}
header .logo p{
    font-size: 7px;
    margin: 5px 0 0 18px;
    /* position: absolute; */
    left: 15%;
    bottom: 2px;
}
h4{
    position: absolute;
    top: 25%;
    left: 13%;
    font-size: 16px;
    line-height: 1.9;
    z-index: 5;
}
header figure{
    width: 94.871%;
    height: 83vh;
    overflow: hidden;
    position: relative;
}
header figure img{
    position: absolute;
    top: 0;
    right: -330px;
    height: 118%;
}
header .date{
    width: 100%;
    height: 86px;
    background-color: rgba(252, 233, 92, 0.9);
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    /* padding: 0 10% 0 10%; */
}
header .date p{
    font-size: 13px;
    color: #707070;
}
.date-center{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.25px;
}
.month, .day{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    color: #ffffff;
    border: 1px #707070;
    text-shadow:
    1px 0 0 #707070,
    0 1px 0 #707070,
    -1px 0 0 #707070,
    0 -1px 0 #707070
}
.week{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.25px;
}


/* ----------------
concept
--------------------- */
.concept{
    height: 330px;
    margin: 200px 0 76px 0;
    padding: 0 5.128%;
    position: relative;
    opacity: 0;
}
.concept p{
    font-size: 10px;
}
.concept .concept-text{
    line-height: 3.5em;
    margin-bottom: 52px;
}
.concept p:nth-of-type(2){
    line-height: 2.8em;
    margin-bottom: 50px;
}
.concept .logo{
    position: absolute;
    bottom: 0;
    right: 15%;
}
.furigana{
    letter-spacing: 5px;
    margin-left: 60px;
}
.concept h1{
    width: 136px;
}
.concept h1 img{
    width: 100%;
}


/* ----------------
recommend
--------------------- */

.recommend-set{
    background-color: #B3EFB3;
    padding: 70px 0 20px 0;
    opacity: 0;
}
.recommend-box{
    padding: 0 20px;
}
h3, .set-price{
    margin-bottom: 12px;
}
.set-price{
    font-size: 17px;
    letter-spacing: 1.7px;
    text-align: right;
}
.set-price span{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.set-comment{
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.8;
    margin-bottom: 34px;
}
h3{
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 1.4;
}
.recommend-box figure{
    width: 100%;
    margin-bottom: 12px;
    /* height: 370px; */
}
.recommend-box figure img{
    width: 100%;
}



/* ----------------
reason
--------------------- */
.reason .title{
    margin-bottom: 76px;
}
.reason-background{
    width: 100vw;
    height: 900px;
    position: relative;
}
.reason-background figure{
    width: 80%;
    height: 786px;
    margin: 0 0 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.reason-background figure img{
    position: absolute;
    top: 0;
    left: -500px;
    height: 105vh;
}
.reason-background .background{
    width: 79.487%;
    height: 768px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #B3EFB3;
    z-index: -1;
}
.reason-area{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: absolute;
    top: 160px;
    left: 0;
}
.reason-box{
    width: 305px;
    height: 160px;
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 25px 20px 20px 18px;
    margin: 0 0 54px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    opacity: 0;
}
.reason-box:nth-of-type(2){
    margin: 0 0 54px auto;
}
.reason-box::before{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
    border: 1px solid #575757;
}
.reason-box .number{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    text-shadow: 3px 3px 0 #F8E554;
}
.reason-text{
    width: 80%;
}

.reason-box h3{
    font-size: 14px;
    letter-spacing: 1px;
}
.reason-box .reason-comment{
    font-size: 10px;
    line-height: 2;
}


/* ----------------
Rental Price
--------------------- */
.rental-price .title-comment{
    margin-bottom: 40px;
}
.tab{
    padding: 0 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.tab-box{
    width: 30%;
    margin: auto 0 0 0;
}
.tab{ 
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.tab li{
    margin-bottom: 12px;
    /* トランジション */
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
.tab01{
    font-size: 33px;
}
.tab span{
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.tab-span{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
.tab-line{
    width: 100%;
    height: 5px;
    background-color: #EBEBEB;
    /* トランジション */
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
#tab01 .tab-line{
    background-color: #B3EFB3;
}
.people12{
    display: none;
}
.soro{
    display: none;
}
.wrapper {
    width: 100vw;
    /* height: 68vh; */
    /* padding: 0 20px; */
    margin: 0 0 40px 0;
    opacity: 0;
    /* overflow: hidden; */
}
.slider{
    /* width: 1026px; */
    position: relative;
    /* margin-left: 22px; */
    /* display: flex;
    justify-content: space-between; */
}

.slider-item{
    width: 90%;
    /* height: 68vh; */
    margin: 0 6px;
    /* margin: 0 auto 40px auto; */
    /* margin-right: 12px; */
    /* margin: 0 2% 70px 2%; */
    background-color: #B3EFB3;
    border-radius: 10px;
    padding: 40px 25px;
}
.slider-item figure{
    width: 100%;
}
.slider-item figure img{
    width: 100%;
}
.slick-prev, 
.slick-next {
    position: absolute;
    z-index: 3;
    top: 75%;
    cursor: pointer;
    outline: none;
    height: 50px;
    width: 50px;
}
.slick-next{
    right: 3%!important;
}
.slick-next:before{
    background: url(../img/next.png)!important;
    background-size: contain!important;
}
  .slick-prev{
    left: 3%!important;
  }
  .slick-prev:before{
    background: url(../img/prev.png)!important;
    background-size: contain!important;
  }
  .slick-arrow{
    z-index:2!important;
    width:60px!important;
    height:60px!important;
  }
  .slick-arrow:before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    opacity:1!important;
  }
.slick-arrow:before{
	content:""!important;
}
.slick-prev {/*戻る矢印の位置と形状*/
    left:10%;
    /* transform: rotate(-135deg); */
}

.slick-next {/*次へ矢印の位置と形状*/
    right:10%;
    /* transform: rotate(45deg); */
}

.set-name{
    text-align: left;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.4px;
    margin-bottom: 34px;
}
.service{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px auto;
}
.service p{
    font-size: 12px;
    color: #707070;
    letter-spacing: 0.6px;
    /* margin-bottom: 10px; */
    text-align: center;
}
.line-left{
    width: 15px;
    height: 1px;
    background-color: #707070;
    transform:rotate(45deg);
}
.line-right{
    width: 15px;
    height: 1px;
    background-color: #707070;
    transform:rotate(-45deg);
}
.price-box .set-price{
    text-align: center;
}
.slider-item .btn{
    margin-bottom: 0;
}

.set-btn{
    width: 320px;
}
.set-btn .border{
    width: 315px;
    height: 68px;
}
.set-btn a{
    width: 315px;
    height: 68px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-green{
    position: relative;
    margin: 0 auto 35px auto;
}
.btn-green .border{
    width: 315px;
    height: 68px;
    border: 2px solid #575757;
}
.btn-green a{
    background-color: #B3EFB3;
    color: #383838;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
}
.btn-green figure{
    width: 36px;
}
.btn-green figure img{
    width: 100%;
}

/* ----------------
how to Rental
--------------------- */
.howto{
    padding: 0 20px;
}
.howto .title{
    margin-bottom: 42px;
}
.howto-box{
    width: 82.285%;
    /* height: 317px; */
    background-color: #F8F8F8;
    padding: 5%;
    box-shadow: 10px 10px #B3EFB3;
    margin-bottom: 30px;
    opacity: 0;
}
.howto02, .howto04{
    margin: 0 0 30px auto;
}
.howto-title{
    display: flex;
    align-items: center;
}
.howto-title p{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
}
.howto-title h3{
    font-size: 16px;
    margin-left: 20px;
}
.howto-box figure{
    width: 100%;
    margin-bottom: 10px;
}
.howto-box figure img{
    width: 100%;
}
.howto-comment{
    font-size: 11px;
    line-height: 1.8;
}

/* ----------------
Q&A
--------------------- */
.qa{
    padding: 0 20px;
}
.qa-box{
    padding: 10%;
    background-color: #F8F8F8;
    box-shadow: 10px 10px #B3EFB3;
}
.question{
    margin: 22px 0;
}
.qa-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
.question p{
    font-size: 13px;
}
.question p:nth-of-type(2){
    font-size: 16px;
}
.qa-border{
    width: 100%;
    height: 1px;
    background-color: #383838;
    margin: 0 auto;
}
.answer{
    width: 100%;
    padding: 22px;
    background-color: #ffffff;
    display: none;
}
.answer p{
    line-height: 2;
}


/* ----------------
footer
--------------------- */
.ctv{
    width: 100%;
    /* height: 270px; */
    background-color: #B3EFB3;
    padding: 76px 0 10px 0;
    margin-bottom: 16px;
}
.ctv p{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.8px;
    margin-bottom: 40px;
}
.ctv span{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.copyright{
    font-size: 8px;
    text-align: center;
    margin-bottom: 16px;
}




/* ----------------
レスポンシブ pc
--------------------- */
@media(min-width: 750px){
    /* ------ common
    ------------ */
    .deco-left, .deco-right{
        width: 70%;
    }
    .title h2{
        font-size: 30px;
    }
    .title-comment{
        font-size: 13px;
    }
    .btn{
        width: 165px;
        height: 45px;
    }
    .btn .border{
        width: 160px;
        height: 40px;
    }
    .btn a{
        width: 160px;
        height: 40px;
        font-size: 13px;
        padding: 13px;
    }

    /* ------ header
    ------------ */
    header figure{
        width: 85%;
        height: 83vh;
    }
    header figure img{
        position: unset;
    }
    header .background{
        width: 33.142%;
    }
    header .date{
        padding: 15px 30%;
        z-index: 5;
    }
    header .date p{
        font-size: 13px;
        color: #707070;
    }

    /* ------ concept
    ------------ */
    .concept{
        height: 400px;
        margin: 200px 0 76px 18.357%;
    }
    .concept p{
        font-size: 13px;
    }
    .logo{
        margin-left: 65%;
    }
    .logo .furigana{
        font-size: 10px;
        letter-spacing: 5px;
        margin-left: 55px;
    }


    /* ------ recomment
    ------------ */
    .recommend-box h3{
        font-size: 13px;
    }
    .recommend-set{
        width: 90%;
        margin: 0 auto;
        display: flex;
    }
    .recommend-set .deco-right{
        display: none;
    }
    .recommend-set .deco-left{
        display: none;
    }

    /* ------ reason
    ------------ */
    .reason-background figure{
        width: 73.357%;
        height: 786px;
        margin: 0 0 0 auto;
    }
    .reason-background figure img{
        position: unset;
    }
    .reason-background .background{
        width: 36.857%;
        height: 768px;
    }
    .reason-area{
        width: 80%;
        position: absolute;
        top: 160px;
        left: 10%;
    }
    .reason-box{
        width: 50.357%;
        margin: 0 0 10px 0;
    }
    .reason-box:nth-of-type(2){
        margin: 0 0 10px auto;
    }
    /* ------ price
    ------------ */
    .slider-item{
        width: 60%;
        display: flex !important;
        padding: 20px 20px;
    }
    .slider-item figure{
        width: 60%;
        margin-right: 20px;
    }
    .slider-item figure img{
        width: 100%;
    }
    .ultext-box{
        width: 40%;
        position: relative;
    }
    .set-name{
        text-align: left;
        font-size: 13px;
        line-height: 1.8;
        letter-spacing: 1.4px;
        position: absolute;
        top: 5%;
        left: 0;
        /* margin-bottom: 130px; */
    }
    .price-box{
        position: absolute;
        left: 0;
        bottom: 5%;
    }
    .price-box .set-price{
        font-size: 15px;
    }
    .slick-next{
        right: 10% !important;
    }
    .slick-prev{
        left: 10% !important;
    }
    .service{
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 10px auto;
    }
    .service p{
        font-size: 10px;
        color: #707070;
        letter-spacing: 0.6px;
        /* margin-bottom: 10px; */
        text-align: center;
    }
    .line-left{
        width: 15px;
        height: 1px;
        background-color: #707070;
        transform:rotate(45deg);
    }
    .line-right{
        width: 15px;
        height: 1px;
        background-color: #707070;
        transform:rotate(-45deg);
    }
    .price-box .set-price{
        text-align: center;
    }
    .slider-item .btn{
        margin-bottom: 0;
    }
    .set-btn{
        width: 300px;
    }
    .set-btn .border{
        width: 315px;
        height: 68px;
    }
    .set-btn a{
        width: 315px;
        height: 68px;
        padding: 0 50px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tab{
        width: 60%;
        margin: 0 auto 40px auto;
    }
    /* ------ how to
    ------------ */
    .howto{
        width: 100vw;
        height: 130vh;
        padding: 0 5%;
        position: relative;
    }
    .howto-box{
        width: 28%;
        padding: 3%;
        margin-bottom: 30px;
    }
    .howto-title p{
        font-size: 40px;
    }
    .howto-title h3{
        font-size: 13px;
    }
    .howto-comment{
        font-size: 10px;
    }
    .howto01{
        position: absolute;
        top: 80px;
        left: 5%;
    }
    .howto02{
        position: absolute;
        top: 130px;
        right: 36%;
    }
    .howto03{
        position: absolute;
        top: 180px;
        right: 5%;
    }
    .howto04{
        position: absolute;
        top: 550px;
        left: 20%;
    }
    .howto05{
        position: absolute;
        top: 580px;
        left: 55%;
    }

    /* ------ Q&A
    ------------ */
    .qa-box{
        width: 70%;
        margin: 0 auto;
    }
}