*, *::before, *::after{ box-sizing: border-box; }
/* ----------------
common mobile
--------------------- */

body{
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: #383838;
}
h2{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: #383838;
    font-size: 25px;
    letter-spacing: 0.75px;
    margin-bottom: 4px;
}
.title{
    text-align: center;
    margin-bottom: 22px;
}
.title p{
    font-size: 10px;
    letter-spacing: 0.9px;
}
.title-comment{
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 76px;
}
a{
    text-decoration: none;
}
.btn{
    width: 195px;
    height: 53px;
    position: relative;
    margin: 0 auto 76px auto;
}
.btn .border{
    width: 190px;
    height: 48px;
    border: 2px solid #575757;
    position: absolute;
    top: 0;
    left: 0;
}
.btn a{
    width: 190px;
    height: 48px;
    background-color: #F8E554;
    padding: 15px;
    color: #383838;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
}
section{
    margin-bottom: 76px;
}
.deco-left{
    width: 320px;
    height: 20px;
    background-color: #B3EFB3;
    margin-bottom: 76px;
}
.deco-right{
    width: 320px;
    height: 20px;
    background-color: #B3EFB3;
    text-align: left;
    margin: 0 0 76px auto;
}
.deco-white{
    background-color: #ffffff;
}
.number{
    color: rgba(0 0 0 / 0);
    -webkit-text-stroke: 1px #707070;
    text-shadow: 3px 3px 0 #ffffff;
}


/* ----------------
header
--------------------- */
header{
    width: 100vw;
    padding-top: 30px;
}
header .logo{
    height: 19px;
    display: flex;
    margin: 0 0 30px 20px;
    position: relative;
}
header .background{
    width: 40%;
    height: 105vh;
    background-color: #B3EFB3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
header .logo h1{
    width: 75px;
}
header .logo h1 img{
    width: 100%;
}
header .logo p{
    font-size: 7px;
    position: absolute;
    left: 85px;
    bottom: 2px;
}
h4{
    position: absolute;
    top: 25%;
    left: 13%;
    font-size: 16px;
    line-height: 1.9;
    z-index: 5;
}
header figure{
    width: 94.871%;
    height: 83vh;
    overflow: hidden;
    position: relative;
}
header figure img{
    position: absolute;
    top: 0;
    right: -330px;
    height: 118%;
}
header .date{
    width: 100%;
    height: 86px;
    background-color: rgba(252, 233, 92, 0.9);
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    /* padding: 0 10% 0 10%; */
}
header .date p{
    font-size: 13px;
    color: #707070;
}


/* ----------------
concept
--------------------- */
.concept{
    margin: 200px 0 76px 0;
    padding: 0 20px;
}
.concept p{
    font-size: 10px;
}
.concept .concept-text{
    line-height: 3.5em;
    margin-bottom: 52px;
}
.concept p:nth-of-type(2){
    line-height: 2.8em;
    margin-bottom: 26px;
}
.logo{
    margin-left: 50%;
}
.furigana{
    letter-spacing: 5px;
    margin-left: 60px;
}
.concept h1{
    width: 136px;
}
.concept h1 img{
    width: 100%;
}


/* ----------------
recommend
--------------------- */

.recommend-set{
    background-color: #B3EFB3;
    padding: 70px 0 20px 0;
}
.set-box{
    padding: 0 20px;
}
h3, .set-price{
    margin-bottom: 12px;
}
.set-price{
    font-size: 17px;
    letter-spacing: 1.7px;
    text-align: right;
}
.set-price span{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.set-comment{
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.8;
    margin-bottom: 34px;
}
h3{
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 1.4;
}
.set-box figure{
    width: 100%;
    margin-bottom: 12px;
    /* height: 370px; */
}
.set-box figure img{
    width: 100%;
}



/* ----------------
reason
--------------------- */
.reason .title{
    margin-bottom: 76px;
}
.reason-background{
    width: 100vw;
    height: 900px;
    position: relative;
}
.reason-background figure{
    width: 80%;
    height: 786px;
    margin: 0 0 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.reason-background figure img{
    position: absolute;
    top: 0;
    left: -600px;
    height: 105vh;
}
.reason-background .background{
    width: 79.487%;
    height: 768px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #B3EFB3;
    z-index: -1;
}
.reason-area{
    padding: 0 20px;
    position: absolute;
    top: 160px;
    left: 0;
}
.reason-box{
    width: 305px;
    height: 160px;
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 25px 20px 20px 18px;
    margin: 0 0 54px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.reason-box:nth-of-type(2){
    margin: 0 0 54px 30px;
}
.reason-box::before{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
    border: 1px solid #575757;
}
.reason-box .number{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    text-shadow: 3px 3px 0 #F8E554;
}
.reason-text{
    width: 80%;
}
.reason-box .reason-comment, h3{
    /* margin-left: 50px; */
}
.reason-box h3{
    font-size: 14px;
    letter-spacing: 1px;
}
.reason-box .reason-comment{
    font-size: 10px;
    line-height: 2;
}


/* ----------------
Rental Price
--------------------- */
.rental-price .title-comment{
    margin-bottom: 40px;
}
.tab{
    padding: 0 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.tab-box{
    width: 30%;
    margin: auto 0 0 0;
}
li{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 12px;
    text-align: center;
}
.tab01{
    font-size: 33px;
}
li span{
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
li span:nth-of-type(1){
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}
.tab-line{
    width: 100%;
    height: 5px;
    background-color: #B3EFB3;
}

.set-area{
    /* display: flex; */
}
.set-box{
    width: 90%;
    margin: 0 auto 70px auto;
    background-color: #B3EFB3;
    border-radius: 10px;
    padding: 40px 25px;
}
.set-name{
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.4px;
    margin-bottom: 34px;
}
.service{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px auto;
}
.service p{
    font-size: 12px;
    color: #707070;
    letter-spacing: 0.6px;
    /* margin-bottom: 10px; */
    text-align: center;
}
.line-left{
    width: 15px;
    height: 1px;
    background-color: #707070;
    transform:rotate(45deg);
}
.line-right{
    width: 15px;
    height: 1px;
    background-color: #707070;
    transform:rotate(-45deg);
}
.price-box .set-price{
    text-align: center;
}
.set-box .btn{
    margin-bottom: 0;
}
.cursur{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: rgba(248, 248, 248, 1);
    padding: 24px;
}
.cursur p{
    font-size: 18px;
    font-weight: 700;
    color: #383838;
}
.set-btn{
    width: 320px;
}
.set-btn .border{
    width: 315px;
    height: 68px;
}
.set-btn a{
    width: 315px;
    height: 68px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-green{
    position: relative;
    margin: 0 auto 35px auto;
}
.btn-green .border{
    width: 315px;
    height: 68px;
    border: 2px solid #575757;
}
.btn-green a{
    background-color: #B3EFB3;
    color: #383838;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
}
.btn-green figure{
    width: 36px;
}
.btn-green figure img{
    width: 100%;
}



/* ----------------
footer
--------------------- */
.ctv{
    width: 100%;
    /* height: 270px; */
    background-color: #B3EFB3;
    padding: 76px 0 10px 0;
    margin-bottom: 16px;
}
.ctv p{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.8px;
    margin-bottom: 40px;
}
.ctv span{
    font-family: semplicitapro, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.copyright{
    font-size: 8px;
    text-align: center;
    margin-bottom: 16px;
}
